        @font-face {
        font-family: 'Tourmaline Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Tourmaline Bold'), url('Tourmaline-Bold.woff') format('woff');
        }

h1 {
    font-family: 'Tourmaline Bold';
    text-decoration: underline;
    font-size:45px;
    
}

.card {
    background: linear-gradient(to right, rgb(239, 167, 11), rgb(218, 106, 1));
   
}


        
    